$purple-background: #7b1fa2;
$light-blue-accent: #00acc1;
$light-blue-button: #00838f;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50% 50%, $purple-background, black);
    background-size: 800% 800%;
    animation: galaxy-background 10s ease infinite;

}

@keyframes galaxy-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.trending-topics,
.tweet-suggestions {
    background-color: #be69e2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 80px;
    color-scheme: dark;

    h2 {
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 5px;
        }
    }
}

.post-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: $light-blue-accent;
    border-radius: 5px;
    color: white;

    .post {
        display: flex;
        flex-direction: column;

        .content {
            margin-bottom: 10px;
        }

        .image {
            max-width: 100%;
            margin-bottom: 10px;
        }

        .topic {
            font-weight: bold;
        }
    }
}

.dark-mode {
    background-color: black;
    color: white;

    .trending-topics,
    .tweet-suggestions,
    .post-item {
        background-color: $light-blue-button;
    }
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #be69e2;
    color: white;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

    &:hover {
        background-color: darken($light-blue-button, 10%);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px);
    }
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    background-color: #be69e2;
    font-family: Arial;

    &::placeholder {
        color: black;
    }
}

textarea {
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    resize: none;
  }

  textarea::placeholder {
    color: #888;
  }


.postInput {
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
}


  .post-input::placeholder {
    color: #888;
  }