$purple-background: #7b1fa2;
$light-blue-accent: #00acc1;
$light-blue-button: #00838f;

.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, $purple-background, black);
    background-size: 800% 800%;
    animation: galaxy-background 10s ease infinite;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    animation: slide-up 1s ease;
}

@keyframes galaxy-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $light-blue-button;
    color: white;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

button:hover {
    background-color: $light-blue-accent;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}